.DS_STORE
.ipynb_checkpoints/
__pycache__/
datasets/elliptic_bitcoin_dataset/original/
datasets/FDcomp_dataset/original/
YelpChi.mat
Amazon.mat
datasets/FDcomp_dataset/test_mask.csv
datasets/FDcomp_dataset/train_mask.csv
datasets/FDcomp_dataset/valid_mask.csv
testing.ipynb
fraud_detector_implementations/telltail_matlab/
test.py
synthetic_graphs/
datasets/sbms.pkl
__MACOSX/
results/
results/figures/
results/synthetic_*